<section class="auth-page" [class.light-mode]="!darkMode">
  <app-login-hero [year]="year"></app-login-hero>

  <app-login-form-card
    [form]="form"
    [loading]="loading"
    [hidePassword]="hidePassword"
    [rememberMe]="rememberMe"
    [selectedLanguage]="selectedLanguage"
    [darkMode]="darkMode"
    (hidePasswordChange)="hidePassword = $event"
    (rememberMeChange)="rememberMe = $event"
    (submitLogin)="submit()"
    (forgotPasswordClick)="forgotPassword()"
    (themeToggle)="toggleTheme()"
    (socialLoginClick)="socialLogin($event)"
  >
  </app-login-form-card>
</section>
