<div class="dt-picker-wrapper">
  <div class="dt-picker-inputs">
    <div class="stb-field dt-field">
      <label for="dt-date">Date</label>
      <input id="dt-date" class="stb-input" type="date"
             [value]="toDateInputValue(selectedDate)"
             (change)="onDateChange($event)" />
    </div>

    <div class="stb-field dt-field">
      <label for="dt-time">Time</label>
      <input id="dt-time" class="stb-input" type="time"
             [value]="selectedTime"
             (change)="onTimeChange($event)" />
    </div>

    <button mat-icon-button
            type="button"
            class="dt-confirm-btn"
            [disabled]="!isSelectionValid()"
            (click)="confirmSelection()"
            matTooltip="Confirm date and time">
      <mat-icon>check_circle</mat-icon>
    </button>
  </div>

  <div class="dt-display" *ngIf="getDisplayValue()">
    <mat-icon>event_available</mat-icon>
    <span>{{ getDisplayValue() }}</span>
  </div>
</div>
